src/workflows/telegram-personal-ai-assistant-errors/workflow.template.json
[
  {
    "createdAt": "2026-05-08T19:55:00.000Z",
    "updatedAt": "2026-05-08T19:55:00.000Z",
    "id": "telegramPersonalAiErrors",
    "name": "Telegram Personal AI Assistant Error Handler",
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "id": "error-trigger",
        "name": "Error Trigger",
        "type": "n8n-nodes-base.errorTrigger",
        "typeVersion": 1,
        "position": [360, 300],
        "parameters": {}
      },
      {
        "id": "send-owner-error-alert",
        "name": "Send Owner Error Alert",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [880, 300],
        "parameters": {
          "resource": "message",
          "operation": "sendMessage",
          "chatId": "1952378",
          "text": "={{ $json.alertText }}",
          "replyMarkup": "none",
          "additionalFields": {
            "appendAttribution": false,
            "disable_notification": false
          }
        },
        "credentials": {
          "telegramApi": {
            "id": "FKvl2DEiMNZgXa2C",
            "name": "Telegram account (nezdemoid_bot)"
          }
        }
      },
      {
        "id": "prepare-error-alert",
        "name": "Prepare Error Alert",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [620, 300],
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": ""
        }
      }
    ],
    "connections": {
      "Error Trigger": {
        "main": [
          [
            {
              "node": "Prepare Error Alert",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Error Alert": {
        "main": [
          [
            {
              "node": "Send Owner Error Alert",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "availableInMCP": true,
      "callerPolicy": "workflowsFromAList",
      "callerIds": "wuShcnLXJgOIjRGG"
    },
    "staticData": null,
    "pinData": {},
    "versionId": "telegram-personal-ai-errors-v1",
    "triggerCount": 0,
    "versionCounter": 1,
    "activeVersionId": null,
    "meta": null,
    "tags": [],
    "versionMetadata": null
  }
]
