workflows/telegram-personal-ai-assistant.workflow.json
[
  {
    "updatedAt": "2026-05-08T17:22:54.425Z",
    "createdAt": "2026-05-08T14:55:15.828Z",
    "id": "wuShcnLXJgOIjRGG",
    "name": "Telegram Personal AI Assistant MVP",
    "description": "Receives Telegram Chat Automation messages, keeps per-chat memory, uses hybrid auto-reply controls, and learns Yuri's writing style from owner messages.",
    "active": true,
    "isArchived": false,
    "nodes": [
      {
        "id": "4ea5b6cb-efdc-4fe1-a0af-ecdafd0a11ce",
        "name": "Telegram Chat Automation Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [0, 180],
        "parameters": {
          "httpMethod": "POST",
          "path": "telegram-personal-ai-assistant",
          "responseMode": "onReceived",
          "options": {
            "noResponseBody": false,
            "responseData": "{\"ok\":true}"
          }
        },
        "webhookId": "d7689b56-0c8d-4488-b43a-d0f84f42f8b8"
      },
      {
        "id": "1aece42a-cece-4ca2-bda2-ee3c7efc6ac6",
        "name": "Normalize Telegram Update",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [600, 180],
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const update = $json.body ?? $json;\nconst message = update.business_message ?? update.message ?? null;\nconst businessConnectionId = message?.business_connection_id ?? update.business_connection?.id ?? null;\nconst chatId = message?.chat?.id ?? null;\nconst fromId = message?.from?.id ?? null;\nconst ownerSettings = Object.fromEntries($items(\"Load Owner Identity Settings\").map((item) => item.json ?? {}).filter((row) => row.settingKey).map((row) => [String(row.settingKey), String(row.settingValue ?? \"\")]));\nconst ownerUserId = Number(ownerSettings.ownerTelegramUserId || 0);\nconst userText = message?.text ?? message?.caption ?? \"\";\nconst trimmedText = userText.trim();\nconst senderName = [message?.from?.first_name, message?.from?.last_name].filter(Boolean).join(\" \") || message?.from?.username || \"Unknown\";\nconst isFromOwner = Boolean(ownerUserId && fromId === ownerUserId);\nconst sessionKey = businessConnectionId && chatId ? `${businessConnectionId}:${chatId}` : chatId ? `chat:${chatId}` : `update:${update.update_id}`;\nreturn {\n  json: {\n    updateId: update.update_id,\n    updateType: update.business_message ? \"business_message\" : update.message ? \"message\" : \"other\",\n    businessConnectionId,\n    chatId,\n    fromId,\n    ownerUserId,\n    isFromOwner,\n    messageId: message?.message_id ?? null,\n    senderName,\n    username: message?.from?.username ?? null,\n    userText,\n    sessionKey,\n    shouldReply: Boolean(businessConnectionId && chatId && trimmedText && !isFromOwner),\n    shouldUpdateMemory: Boolean(businessConnectionId && chatId && trimmedText),\n    ownerMessageAt: new Date().toISOString(),\n    rawUpdate: update\n  }\n};"
        }
      },
      {
        "id": "0d148b0f-c529-4fd8-aa00-14f742694621",
        "name": "Load Long Term Memory",
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [3600, 660],
        "parameters": {
          "resource": "row",
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "mode": "list",
            "value": "TVfAzirdgq5fTvUU",
            "cachedResultName": "telegram_person_memory"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "sessionKey",
                "condition": "eq",
                "keyValue": "={{$json.sessionKey}}"
              }
            ]
          },
          "returnAll": false,
          "limit": 1
        },
        "alwaysOutputData": true
      },
      {
        "id": "328bc04c-a785-424c-80e7-387ffc465bd6",
        "name": "Load Assistant Settings",
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [3900, 660],
        "parameters": {
          "resource": "row",
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "mode": "list",
            "value": "ypokG5tVBhOmGheM",
            "cachedResultName": "telegram_assistant_settings"
          },
          "returnAll": true
        },
        "executeOnce": true
      },
      {
        "id": "77636d43-bcb6-4f01-ab0b-53b6e78e312c",
        "name": "Load Yuri Voice Profile",
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [4200, 660],
        "parameters": {
          "resource": "row",
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "mode": "list",
            "value": "HvpnlPzgJUGdV9ej",
            "cachedResultName": "telegram_yuri_voice_profile"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "profileKey",
                "condition": "eq",
                "keyValue": "yuri_voice"
              }
            ]
          },
          "returnAll": false,
          "limit": 1
        },
        "executeOnce": true,
        "alwaysOutputData": true
      },
      {
        "id": "b1b0968e-1d25-4a12-9e88-5d0a06c6e6a0",
        "name": "Load Yuri Personal Context",
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [4500, 660],
        "parameters": {
          "resource": "row",
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "mode": "list",
            "value": "bXtoAE0DT4oRNrBp",
            "cachedResultName": "telegram_yuri_personal_context"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "contextKey",
                "condition": "eq",
                "keyValue": "yuri_personal_context"
              }
            ]
          },
          "returnAll": false,
          "limit": 1
        },
        "executeOnce": true,
        "alwaysOutputData": true
      },
      {
        "id": "38114ff2-3c10-4e9f-a9d8-a664a8c66a1e",
        "name": "Apply Hybrid Reply Gate",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [4800, 660],
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "function firstJson(name) {\n  try {\n    return $items(name)[0]?.json ?? {};\n  } catch (_) {\n    return {};\n  }\n}\nfunction settingsFromRows(rows) {\n  return Object.fromEntries(rows.map((item) => item.json ?? {}).filter((row) => row.settingKey).map((row) => [String(row.settingKey), String(row.settingValue ?? \"\")]));\n}\nconst normalize = firstJson(\"Build Pending Batch\");\nconst memory = firstJson(\"Load Long Term Memory\");\nconst voice = firstJson(\"Load Yuri Voice Profile\");\nconst personalContext = firstJson(\"Load Yuri Personal Context\");\nconst settings = settingsFromRows($items(\"Load Assistant Settings\"));\nconst autoReplyEnabled = String(settings.autoReplyEnabled ?? \"true\").toLowerCase() === \"true\";\nconst quietMinutesRaw = Number(settings.quietAfterOwnerActivityMinutes ?? 10);\nconst quietMinutes = Number.isFinite(quietMinutesRaw) && quietMinutesRaw >= 0 ? quietMinutesRaw : 10;\nconst lastOwnerMessageAt = settings.lastOwnerMessageAt ?? \"\";\nconst lastOwnerTs = lastOwnerMessageAt ? Date.parse(lastOwnerMessageAt) : 0;\nconst nowTs = Date.now();\nconst quietUntilTs = lastOwnerTs ? lastOwnerTs + quietMinutes * 60 * 1000 : 0;\nconst quietActive = Boolean(!normalize.isFromOwner && lastOwnerTs && nowTs < quietUntilTs);\nconst shouldAutoReply = Boolean(normalize.shouldReply && autoReplyEnabled && !quietActive);\nconst shouldMemoryOnly = Boolean(normalize.shouldUpdateMemory && !shouldAutoReply);\nreturn [\n  {\n    json: {\n      ...normalize,\n      memorySummary: memory.summary || \"\",\n      personProfile: memory.personProfile || \"\",\n      personObservationBuffer: memory.personObservationBuffer || \"\",\n      personObservationsSinceConsolidation: Number(memory.personObservationsSinceConsolidation || 0),\n      settings,\n      autoReplyEnabled,\n      quietMinutes,\n      lastOwnerMessageAt,\n      quietActive,\n      quietUntil: quietUntilTs ? new Date(quietUntilTs).toISOString() : \"\",\n      shouldAutoReply,\n      shouldMemoryOnly,\n      ownerMessageAt: normalize.ownerMessageAt || new Date().toISOString(),\n      voiceProfileText: voice.profileText || \"No stable voice profile yet.\",\n      voiceRecentExamples: voice.recentExamples || \"\",\n      voiceMessageCount: Number(voice.messageCount || 0),\n      voiceObservationBuffer: voice.observationBuffer || \"\",\n      observationsSinceConsolidation: Number(voice.observationsSinceConsolidation || 0),\n      personalContextText: personalContext.contextText || \"\"\n    }\n  }\n];"
        }
      },
      {
        "id": "6b08c215-faab-4bcd-8eed-7fc8f3b1d968",
        "name": "Only Auto Reply Allowed",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [5100, 660],
        "parameters": {
          "conditions": {
            "combinator": "and",
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "should-auto-reply",
                "leftValue": "={{$json.shouldAutoReply}}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "32215dcd-4aca-4432-b96a-900bf5072037",
        "name": "Generate Assistant Reply",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [5400, 320],
        "parameters": {
          "promptType": "define",
          "text": "=Long-term memory about this chat:\n{{ $json.memorySummary || \"No long-term memory yet.\" }}\n\nProfile of this chat/person (fallible; explicit facts only):\n{{ $json.personProfile || \"No profile for this person yet.\" }}\n\nTrusted Yuri personal context (user-provided facts):\n{{ $json.personalContextText || \"No personal context.\" }}\n\nYuri voice/style profile (fallible; use only for light tone, not facts):\n{{ $json.voiceProfileText || \"No stable voice profile yet.\" }}\n\nRecent sanitized style examples:\n{{ $json.voiceRecentExamples || \"No examples yet.\" }}\n\nSender: {{ $json.senderName }} (@{{ $json.username || \"\" }})\nDebounced incoming message batch:\n{{ $json.userText }}",
          "options": {
            "systemMessage": "You are Yuri's Telegram assistant connected through Telegram Chat Automation. Reply in the incoming user's language, except never use Ukrainian unless the incoming message is clearly Ukrainian. Trusted personal context is user-provided and can be used as factual background about Yuri. The per-chat person profile is fallible and may be incomplete; use it only as lightweight context about this sender, never as proof. Default to Russian for Russian/Cyrillic chats. Keep replies short, natural, and useful. You may lightly adapt to Yuri's observed Telegram style: brevity, language mix, punctuation, and tone, but treat stored style profile as fallible and never copy claims about languages or personality. Do not over-imitate, do not claim to be Yuri, and do not invent personal facts. If the message is sensitive, urgent, financial, romantic, legal, medical, or conflict-related, do not answer directly; say Yuri should answer personally. If unsure, ask one concise clarifying question.",
            "maxIterations": 3,
            "enableStreaming": false
          }
        }
      },
      {
        "id": "5119fc30-832e-4dad-9d74-d703eb703e57",
        "name": "Claude Chat Model",
        "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
        "typeVersion": 1.4,
        "position": [5400, 1260],
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "claude-sonnet-4-6",
            "cachedResultName": "Claude Sonnet 4.6"
          },
          "options": {
            "temperature": 0.35,
            "maxTokensToSample": 900
          }
        },
        "credentials": {
          "anthropicApi": {
            "id": "OPeAToc8t9qAcF6T",
            "name": "Anthropic account"
          }
        }
      },
      {
        "id": "841bced9-6b0a-43f1-b1a0-e9ca66ec11f9",
        "name": "Per Chat Simple Memory",
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.3,
        "position": [5700, 1260],
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{$json.sessionKey}}",
          "contextWindowLength": 20
        }
      },
      {
        "id": "02361ebe-1bbc-40b9-86d8-56ff2e8d34f9",
        "name": "Send Telegram Business Reply",
        "type": "n8n-nodes-telegram-business.telegramBusiness",
        "typeVersion": 1,
        "position": [5700, 320],
        "parameters": {
          "resource": "message",
          "operation": "sendTextMessage",
          "businessConnectionId": "={{ $(\"Apply Hybrid Reply Gate\").item.json.businessConnectionId }}",
          "chatId": "={{ $(\"Apply Hybrid Reply Gate\").item.json.chatId }}",
          "text": "={{ $json.output }}",
          "additionalFields": {
            "replyToMessageId": "={{ $(\"Apply Hybrid Reply Gate\").item.json.messageId }}"
          }
        },
        "credentials": {
          "telegramApi": {
            "id": "FKvl2DEiMNZgXa2C",
            "name": "Telegram account (nezdemoid_bot)"
          }
        }
      },
      {
        "id": "e49813ca-5f40-47f3-96cf-deffff417d5e",
        "name": "Summarize Memory After Reply",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.9,
        "position": [6000, 320],
        "parameters": {
          "promptType": "define",
          "text": "=Existing memory:\n{{ $(\"Apply Hybrid Reply Gate\").item.json.memorySummary || \"\" }}\n\nExisting person/chat profile:\n{{ $(\"Apply Hybrid Reply Gate\").item.json.personProfile || \"\" }}\n\nNew exchange:\nUser {{ $(\"Apply Hybrid Reply Gate\").item.json.senderName }} batch:\n{{ $(\"Apply Hybrid Reply Gate\").item.json.userText }}\nAssistant: {{ $(\"Generate Assistant Reply\").item.json.output }}\n\nUpdate both sections. Memory is for current conversation state. Person profile is for stable context about this sender/chat only.\n\nHard rules for memory summary:\n- Write the summary in Russian unless the conversation is explicitly in another language.\n- Do not switch to Ukrainian unless Yuri or the other person actually wrote Ukrainian in this chat.\n- Do not infer Yuri's nationality, languages, profanity habits, personality, API providers, model access, credentials, or project facts unless they are explicitly stated in messages.\n- Do not write uncertain facts; omit them instead.\n- Separate facts about this chat from global style/personality. Style belongs only in the Yuri voice profile.\n\nReturn exactly this format:\nMEMORY_SUMMARY:\n- ...\n\nPERSON_PROFILE:\n- ...\n\nPERSON_OBSERVATION:\n- ...\n\nPerson profile rules:\n- PERSON_PROFILE is about the other person/chat, not Yuri.\n- Keep only explicit stable facts, preferences, relationship/context, recurring topics, language actually used in this chat, boundaries, and useful communication context.\n- PERSON_OBSERVATION should contain at most one new sanitized observation from this update only. If there is no new stable person/chat fact, leave it empty with no bullet.\n- Do not infer nationality, languages, personality, job, location, gender, relationship status, or sensitive facts.\n- Do not store secrets, credentials, private one-off details, or raw message content.\n- Write in Russian by default. Never use Ukrainian unless this chat actually uses Ukrainian.\n- Keep MEMORY_SUMMARY under 10 short bullets and PERSON_PROFILE under 8 short bullets.",
          "batching": {
            "batchSize": 1
          }
        }
      },
      {
        "id": "3dea99a0-c793-4e8c-8f4b-83dc9c3ac85d",
        "name": "Memory Only Messages",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [5400, 1020],
        "parameters": {
          "conditions": {
            "combinator": "and",
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "should-memory-only",
                "leftValue": "={{$json.shouldMemoryOnly}}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "17485741-e37f-4996-921d-bc056e92f4dd",
        "name": "Owner Message Updates Memory Only",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [5700, 1020],
        "parameters": {
          "conditions": {
            "combinator": "and",
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "is-from-owner",
                "leftValue": "={{$json.isFromOwner}}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "fcce1a8a-8551-4572-8bdd-3a7f9d53a30b",
        "name": "Summarize Owner Message",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.9,
        "position": [6000, 900],
        "parameters": {
          "promptType": "define",
          "text": "=Existing memory:\n{{ $(\"Apply Hybrid Reply Gate\").item.json.memorySummary || \"\" }}\n\nExisting person/chat profile:\n{{ $(\"Apply Hybrid Reply Gate\").item.json.personProfile || \"\" }}\n\nYuri wrote this debounced batch in the chat:\n{{ $(\"Apply Hybrid Reply Gate\").item.json.userText }}\n\nUpdate both sections. This is Yuri's own message, so do not generate a reply. Preserve useful context about what Yuri already said, current topics, preferences, and facts. Update PERSON_PROFILE only if Yuri explicitly states something useful about the other person/chat; otherwise keep the existing profile.\n\nHard rules for memory summary:\n- Write the summary in Russian.\n- Store only factual context from this chat and what Yuri explicitly wrote.\n- Do not infer Yuri's language knowledge, personality, profanity habits, API providers, model access, credentials, or private facts.\n- Do not use Ukrainian unless Yuri actually wrote Ukrainian.\n- Do not learn style here; style belongs only in the Yuri voice profile.\n\nReturn exactly this format:\nMEMORY_SUMMARY:\n- ...\n\nPERSON_PROFILE:\n- ...\n\nPERSON_OBSERVATION:\n- ...\n\nPerson profile rules:\n- PERSON_PROFILE is about the other person/chat, not Yuri.\n- Keep only explicit stable facts, preferences, relationship/context, recurring topics, language actually used in this chat, boundaries, and useful communication context.\n- PERSON_OBSERVATION should contain at most one new sanitized observation from this update only. If there is no new stable person/chat fact, leave it empty with no bullet.\n- Do not infer nationality, languages, personality, job, location, gender, relationship status, or sensitive facts.\n- Do not store secrets, credentials, private one-off details, or raw message content.\n- Write in Russian by default. Never use Ukrainian unless this chat actually uses Ukrainian.\n- Keep MEMORY_SUMMARY under 10 short bullets and PERSON_PROFILE under 8 short bullets.",
          "batching": {
            "batchSize": 1
          }
        }
      },
      {
        "id": "7e5e7aa6-aa00-47df-b6fd-702c24996b20",
        "name": "Update Yuri Voice Profile",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.9,
        "position": [8100, 780],
        "parameters": {
          "promptType": "define",
          "text": "=Existing Yuri voice/style profile:\n{{ $(\"Apply Hybrid Reply Gate\").item.json.voiceProfileText || \"\" }}\n\nExisting recent sanitized examples:\n{{ $(\"Apply Hybrid Reply Gate\").item.json.voiceRecentExamples || \"\" }}\n\nNew debounced Yuri message batch to learn from:\n{{ $(\"Apply Hybrid Reply Gate\").item.json.userText }}\n\nUpdate the profile from this message batch. Learn style only: tone, brevity, language mix, punctuation, directness, typical phrases, how Yuri postpones/answers/refuses, and boundaries.\n\nHard rules:\n- Output in Russian.\n- Learn ONLY from Yuri's new message and existing profile; ignore any non-owner text.\n- Do not infer that Yuri knows or uses Ukrainian unless the new Yuri message itself is Ukrainian.\n- Do not infer profanity habits unless the new Yuri message contains profanity.\n- Do not store secrets, private facts, names, addresses, plans, credentials, API providers, available models, or sensitive details.\n- If the message is mostly factual or private, extract only stylistic signal.\n- Recent examples must be sanitized paraphrases, not raw private content.\n\nReturn exactly this format:\nPROFILE:\n- ...\n\nRECENT_STYLE_EXAMPLES:\n- Short sanitized paraphrase/example preserving style but removing private facts\n\nOBSERVATION:\n- One sanitized style observation from the new message only\n\nKeep PROFILE under 12 bullets and RECENT_STYLE_EXAMPLES under 6 bullets. Merge with existing profile; do not duplicate. The workflow will hard-truncate anything larger.",
          "batching": {
            "batchSize": 1
          }
        }
      },
      {
        "id": "c246ac7e-5c5c-440b-9bb3-0f1022fee853",
        "name": "Prepare Yuri Voice Profile Upsert",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [8400, 780],
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const text = $json.text || $json.output || \"\";\nconst gate = $(\"Apply Hybrid Reply Gate\").item.json;\nconst examplesMarker = \"RECENT_STYLE_EXAMPLES:\";\nconst observationMarker = \"OBSERVATION:\";\nfunction afterMarker(source, marker) {\n  return source.includes(marker) ? source.split(marker).slice(1).join(marker).trim() : \"\";\n}\nconst profileRaw = text.includes(examplesMarker) ? text.split(examplesMarker)[0].trim() : text.trim();\nconst examplesPart = afterMarker(text, examplesMarker);\nconst examplesRaw = examplesPart.includes(observationMarker) ? examplesPart.split(observationMarker)[0].trim() : examplesPart.trim() || gate.voiceRecentExamples || \"\";\nconst observationRaw = afterMarker(text, observationMarker);\nfunction capBullets(value, maxBullets, maxChars) {\n  const lines = String(value || \"\").split(`\n`).map((line) => line.trim()).filter(Boolean);\n  const header = lines.find((line) => !line.startsWith(\"-\")) || \"\";\n  const bullets = lines.filter((line) => line.startsWith(\"-\")).slice(0, maxBullets);\n  const result = [header, ...bullets].filter(Boolean).join(`\n`);\n  return result.length > maxChars ? result.slice(0, maxChars).trim() : result;\n}\nfunction normalizeBullets(value) {\n  return String(value || \"\").split(`\n`).map((line) => line.trim()).filter((line) => line.startsWith(\"-\"));\n}\nconst existingObservations = normalizeBullets(gate.voiceObservationBuffer);\nconst newObservations = normalizeBullets(observationRaw);\nconst observationBuffer = [...existingObservations, ...newObservations].slice(-30).join(`\n`);\nconst observationsSinceConsolidation = Number(gate.observationsSinceConsolidation || 0) + newObservations.length;\nreturn {\n  json: {\n    profileKey: \"yuri_voice\",\n    profileText: capBullets(profileRaw, 12, 2400),\n    recentExamples: capBullets(examplesRaw, 6, 1200),\n    observationBuffer,\n    messageCount: Number(gate.voiceMessageCount || 0) + 1,\n    observationsSinceConsolidation,\n    shouldConsolidate: observationsSinceConsolidation >= 20,\n    lastUpdatedAt: new Date().toISOString()\n  }\n};"
        }
      },
      {
        "id": "de10fb57-ec6d-47f5-8734-a2c8525f18a9",
        "name": "Upsert Yuri Voice Profile",
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [9000, 920],
        "parameters": {
          "resource": "row",
          "operation": "upsert",
          "dataTableId": {
            "__rl": true,
            "mode": "list",
            "value": "HvpnlPzgJUGdV9ej",
            "cachedResultName": "telegram_yuri_voice_profile"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "profileKey",
                "condition": "eq",
                "keyValue": "yuri_voice"
              }
            ]
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "profileKey": "yuri_voice",
              "profileText": "={{ $json.profileText }}",
              "recentExamples": "={{ $json.recentExamples }}",
              "messageCount": "={{ $json.messageCount }}",
              "lastUpdatedAt": "={{ $json.lastUpdatedAt }}",
              "observationBuffer": "={{ $json.observationBuffer }}",
              "observationsSinceConsolidation": "={{ $json.observationsSinceConsolidation }}"
            },
            "matchingColumns": ["profileKey"],
            "schema": [
              {
                "id": "profileKey",
                "displayName": "profileKey",
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "profileText",
                "displayName": "profileText",
                "type": "string"
              },
              {
                "id": "recentExamples",
                "displayName": "recentExamples",
                "type": "string"
              },
              {
                "id": "messageCount",
                "displayName": "messageCount",
                "type": "number"
              },
              {
                "id": "lastUpdatedAt",
                "displayName": "lastUpdatedAt",
                "type": "string"
              },
              {
                "id": "observationBuffer",
                "displayName": "observationBuffer",
                "type": "string"
              },
              {
                "id": "observationsSinceConsolidation",
                "displayName": "observationsSinceConsolidation",
                "type": "number"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "01df81f3-1de0-4cca-85a1-c00dd8662417",
        "name": "Summarize Incoming Without Reply",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.9,
        "position": [6000, 1140],
        "parameters": {
          "promptType": "define",
          "text": "=Existing memory:\n{{ $(\"Apply Hybrid Reply Gate\").item.json.memorySummary || \"\" }}\n\nExisting person/chat profile:\n{{ $(\"Apply Hybrid Reply Gate\").item.json.personProfile || \"\" }}\n\nIncoming message from {{ $(\"Apply Hybrid Reply Gate\").item.json.senderName }} was not auto-replied to because auto-reply was disabled or Yuri was recently active.\nMessage batch:\n{{ $(\"Apply Hybrid Reply Gate\").item.json.userText }}\n\nUpdate both sections. Memory is for current conversation state. Person profile is for stable context about this sender/chat only.\n\nHard rules for memory summary:\n- Write the summary in Russian unless this chat is explicitly in another language.\n- Store only what the incoming message explicitly says and whether it was not auto-replied.\n- Do not infer anything about Yuri's style, languages, personality, API providers, model access, or private facts.\n- Do not use Ukrainian unless this chat actually uses Ukrainian.\n\nReturn exactly this format:\nMEMORY_SUMMARY:\n- ...\n\nPERSON_PROFILE:\n- ...\n\nPERSON_OBSERVATION:\n- ...\n\nPerson profile rules:\n- PERSON_PROFILE is about the other person/chat, not Yuri.\n- Keep only explicit stable facts, preferences, relationship/context, recurring topics, language actually used in this chat, boundaries, and useful communication context.\n- PERSON_OBSERVATION should contain at most one new sanitized observation from this update only. If there is no new stable person/chat fact, leave it empty with no bullet.\n- Do not infer nationality, languages, personality, job, location, gender, relationship status, or sensitive facts.\n- Do not store secrets, credentials, private one-off details, or raw message content.\n- Write in Russian by default. Never use Ukrainian unless this chat actually uses Ukrainian.\n- Keep MEMORY_SUMMARY under 10 short bullets and PERSON_PROFILE under 8 short bullets.",
          "batching": {
            "batchSize": 1
          }
        }
      },
      {
        "id": "df0fb06a-3f2a-4aa2-9676-3a566bdb23a2",
        "name": "Should Consolidate Yuri Voice Profile",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [8700, 780],
        "parameters": {
          "conditions": {
            "combinator": "and",
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "should-consolidate",
                "leftValue": "={{$json.shouldConsolidate}}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "bfb750a8-09c2-43be-9a17-41cd2ec1a469",
        "name": "Consolidate Yuri Voice Profile",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.9,
        "position": [9000, 600],
        "parameters": {
          "promptType": "define",
          "text": "=Current profile:\n{{ $json.profileText }}\n\nRecent sanitized examples:\n{{ $json.recentExamples }}\n\nObservation buffer, newest last:\n{{ $json.observationBuffer }}\n\nRebuild Yuri voice profile from the buffer and current profile. Output in Russian. Keep only repeated/stable style patterns. Remove one-off mood, accidental phrases, weak claims, private facts, languages not directly evidenced, API/provider/model facts, credentials, and anything that belongs in personal context rather than style.\n\nReturn exactly:\nPROFILE:\n- ...\n\nRECENT_STYLE_EXAMPLES:\n- ...\n\nKeep PROFILE under 10 bullets and RECENT_STYLE_EXAMPLES under 5 bullets.",
          "batching": {
            "batchSize": 1
          }
        }
      },
      {
        "id": "ca6fdf93-b775-4ec1-87f2-e0a5b0bdc733",
        "name": "Prepare Consolidated Yuri Voice Profile",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [9300, 600],
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const text = $json.text || $json.output || \"\";\nconst original = $(\"Prepare Yuri Voice Profile Upsert\").item.json;\nconst marker = \"RECENT_STYLE_EXAMPLES:\";\nfunction capBullets(value, maxBullets, maxChars) {\n  const lines = String(value || \"\").split(`\n`).map((line) => line.trim()).filter(Boolean);\n  const header = lines.find((line) => !line.startsWith(\"-\")) || \"\";\n  const bullets = lines.filter((line) => line.startsWith(\"-\")).slice(0, maxBullets);\n  const result = [header, ...bullets].filter(Boolean).join(`\n`);\n  return result.length > maxChars ? result.slice(0, maxChars).trim() : result;\n}\nconst profileRaw = text.includes(marker) ? text.split(marker)[0].trim() : text.trim();\nconst examplesRaw = text.includes(marker) ? text.split(marker).slice(1).join(marker).trim() : original.recentExamples;\nreturn {\n  json: {\n    profileKey: \"yuri_voice\",\n    profileText: capBullets(profileRaw, 10, 2000),\n    recentExamples: capBullets(examplesRaw, 5, 1000),\n    observationBuffer: original.observationBuffer,\n    messageCount: original.messageCount,\n    observationsSinceConsolidation: 0,\n    lastUpdatedAt: new Date().toISOString()\n  }\n};"
        }
      },
      {
        "id": "ab53afd7-6e83-448e-bf2d-edee0f2981c8",
        "name": "Upsert Consolidated Yuri Voice Profile",
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [9600, 600],
        "parameters": {
          "resource": "row",
          "operation": "upsert",
          "dataTableId": {
            "__rl": true,
            "mode": "list",
            "value": "HvpnlPzgJUGdV9ej",
            "cachedResultName": "telegram_yuri_voice_profile"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "profileKey",
                "condition": "eq",
                "keyValue": "yuri_voice"
              }
            ]
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "profileKey": "yuri_voice",
              "profileText": "={{ $json.profileText }}",
              "recentExamples": "={{ $json.recentExamples }}",
              "messageCount": "={{ $json.messageCount }}",
              "lastUpdatedAt": "={{ $json.lastUpdatedAt }}",
              "observationBuffer": "={{ $json.observationBuffer }}",
              "observationsSinceConsolidation": "={{ $json.observationsSinceConsolidation }}"
            },
            "matchingColumns": ["profileKey"],
            "schema": [
              {
                "id": "profileKey",
                "displayName": "profileKey",
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "profileText",
                "displayName": "profileText",
                "type": "string"
              },
              {
                "id": "recentExamples",
                "displayName": "recentExamples",
                "type": "string"
              },
              {
                "id": "messageCount",
                "displayName": "messageCount",
                "type": "number"
              },
              {
                "id": "lastUpdatedAt",
                "displayName": "lastUpdatedAt",
                "type": "string"
              },
              {
                "id": "observationBuffer",
                "displayName": "observationBuffer",
                "type": "string"
              },
              {
                "id": "observationsSinceConsolidation",
                "displayName": "observationsSinceConsolidation",
                "type": "number"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "2d8e93b5-53fb-43a3-8d9f-b26f55fd3910",
        "name": "Prepare Memory Upsert",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [6300, 780],
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const text = $json.text || $json.output || \"\";\nconst gate = $(\"Apply Hybrid Reply Gate\").item.json;\nfunction extractSection(source, marker, nextMarkers = []) {\n  if (!source.includes(marker))\n    return \"\";\n  let value = source.split(marker).slice(1).join(marker);\n  for (const next of nextMarkers) {\n    if (value.includes(next))\n      value = value.split(next)[0];\n  }\n  return value.trim();\n}\nfunction capBullets(value, maxBullets, maxChars) {\n  const lines = String(value || \"\").split(`\n`).map((line) => line.trim()).filter(Boolean);\n  const header = lines.find((line) => !line.startsWith(\"-\")) || \"\";\n  const bullets = lines.filter((line) => line.startsWith(\"-\")).slice(0, maxBullets);\n  const result = [header, ...bullets].filter(Boolean).join(`\n`);\n  return result.length > maxChars ? result.slice(0, maxChars).trim() : result;\n}\nfunction normalizeObservationBullets(value) {\n  return String(value || \"\").split(`\n`).map((line) => line.trim()).filter((line) => line.startsWith(\"-\")).filter((line) => !/^[-\\s]*(none|no new|nothing|empty|нет|ничего|без изменений|нет новых)/i.test(line));\n}\nfunction getAssistantReply() {\n  try {\n    return $(\"Generate Assistant Reply\").item.json.output || \"\";\n  } catch (_) {\n    return \"\";\n  }\n}\nconst summaryRaw = extractSection(text, \"MEMORY_SUMMARY:\", [\"PERSON_PROFILE:\", \"PERSON_OBSERVATION:\"]) || text;\nconst personProfileRaw = extractSection(text, \"PERSON_PROFILE:\", [\"PERSON_OBSERVATION:\"]) || gate.personProfile || \"\";\nconst observationRaw = extractSection(text, \"PERSON_OBSERVATION:\");\nconst existingObservations = normalizeObservationBullets(gate.personObservationBuffer);\nconst newObservations = normalizeObservationBullets(observationRaw);\nconst personObservationBuffer = [...existingObservations, ...newObservations].slice(-30).join(`\n`);\nconst personObservationsSinceConsolidation = Number(gate.personObservationsSinceConsolidation || 0) + newObservations.length;\nreturn {\n  json: {\n    sessionKey: gate.sessionKey,\n    chatId: gate.chatId,\n    username: gate.username || \"\",\n    senderName: gate.senderName,\n    summary: capBullets(summaryRaw, 10, 2200),\n    personProfile: capBullets(personProfileRaw, 8, 1600),\n    personObservationBuffer,\n    personObservationsSinceConsolidation,\n    shouldConsolidatePersonProfile: personObservationsSinceConsolidation >= 20,\n    personProfileUpdatedAt: new Date().toISOString(),\n    lastUserMessage: gate.userText,\n    lastAssistantReply: getAssistantReply(),\n    isFromOwner: Boolean(gate.isFromOwner)\n  }\n};"
        }
      },
      {
        "id": "2d8e93b5-53fb-43a3-8d9f-b26f55fd3911",
        "name": "Should Consolidate Person Profile",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [6600, 780],
        "parameters": {
          "conditions": {
            "combinator": "and",
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "should-consolidate-person-profile",
                "leftValue": "={{$json.shouldConsolidatePersonProfile}}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "2d8e93b5-53fb-43a3-8d9f-b26f55fd3912",
        "name": "Consolidate Person Profile",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.9,
        "position": [6900, 600],
        "parameters": {
          "promptType": "define",
          "text": "=Current person/chat profile:\n{{ $json.personProfile }}\n\nObservation buffer, newest last:\n{{ $json.personObservationBuffer }}\n\nRebuild the person/chat profile from the buffer and current profile. Output in Russian. Keep only repeated/stable, explicitly evidenced context about the other person or chat. Remove weak guesses, one-off small talk, sensitive facts, secrets, raw message content, unsupported language/nationality/job/location/personality claims, and anything about Yuri.\n\nReturn exactly:\nPERSON_PROFILE:\n- ...\n\nKeep PERSON_PROFILE under 8 short bullets. Never use Ukrainian unless this chat actually uses Ukrainian.",
          "batching": {
            "batchSize": 1
          }
        }
      },
      {
        "id": "2d8e93b5-53fb-43a3-8d9f-b26f55fd3913",
        "name": "Prepare Consolidated Person Profile",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [7200, 600],
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const text = $json.text || $json.output || \"\";\nconst original = $(\"Prepare Memory Upsert\").item.json;\nfunction extractSection(source, marker) {\n  if (!source.includes(marker))\n    return source.trim();\n  return source.split(marker).slice(1).join(marker).trim();\n}\nfunction capBullets(value, maxBullets, maxChars) {\n  const lines = String(value || \"\").split(`\n`).map((line) => line.trim()).filter(Boolean);\n  const header = lines.find((line) => !line.startsWith(\"-\")) || \"\";\n  const bullets = lines.filter((line) => line.startsWith(\"-\")).slice(0, maxBullets);\n  const result = [header, ...bullets].filter(Boolean).join(`\n`);\n  return result.length > maxChars ? result.slice(0, maxChars).trim() : result;\n}\nreturn {\n  json: {\n    ...original,\n    personProfile: capBullets(extractSection(text, \"PERSON_PROFILE:\"), 8, 1600),\n    personObservationsSinceConsolidation: 0,\n    personProfileUpdatedAt: new Date().toISOString()\n  }\n};"
        }
      },
      {
        "id": "2d8e93b5-53fb-43a3-8d9f-b26f55fd3914",
        "name": "Upsert Memory",
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [7500, 780],
        "parameters": {
          "resource": "row",
          "operation": "upsert",
          "dataTableId": {
            "__rl": true,
            "mode": "list",
            "value": "TVfAzirdgq5fTvUU",
            "cachedResultName": "telegram_person_memory"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "sessionKey",
                "condition": "eq",
                "keyValue": "={{ $json.sessionKey }}"
              }
            ]
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "sessionKey": "={{ $json.sessionKey }}",
              "chatId": "={{ $json.chatId }}",
              "username": "={{ $json.username || \"\" }}",
              "senderName": "={{ $json.senderName }}",
              "summary": "={{ $json.summary }}",
              "lastUserMessage": "={{ $json.lastUserMessage }}",
              "lastAssistantReply": "={{ $json.lastAssistantReply || \"\" }}",
              "personProfile": "={{ $json.personProfile }}",
              "personObservationBuffer": "={{ $json.personObservationBuffer }}",
              "personObservationsSinceConsolidation": "={{ $json.personObservationsSinceConsolidation }}",
              "personProfileUpdatedAt": "={{ $json.personProfileUpdatedAt }}",
              "pendingIncomingMessages": "",
              "pendingOwnerMessages": "",
              "pendingUpdatedAt": "",
              "pendingMessageCount": "={{ 0 }}",
              "pendingBusinessConnectionId": "",
              "pendingReplyToMessageId": "={{ 0 }}",
              "pendingBatchVersion": ""
            },
            "matchingColumns": ["sessionKey"],
            "schema": [
              {
                "id": "sessionKey",
                "displayName": "sessionKey",
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "chatId",
                "displayName": "chatId",
                "type": "number"
              },
              {
                "id": "username",
                "displayName": "username",
                "type": "string"
              },
              {
                "id": "senderName",
                "displayName": "senderName",
                "type": "string"
              },
              {
                "id": "summary",
                "displayName": "summary",
                "type": "string"
              },
              {
                "id": "lastUserMessage",
                "displayName": "lastUserMessage",
                "type": "string"
              },
              {
                "id": "lastAssistantReply",
                "displayName": "lastAssistantReply",
                "type": "string"
              },
              {
                "id": "personProfile",
                "displayName": "personProfile",
                "type": "string"
              },
              {
                "id": "personObservationBuffer",
                "displayName": "personObservationBuffer",
                "type": "string"
              },
              {
                "id": "personObservationsSinceConsolidation",
                "displayName": "personObservationsSinceConsolidation",
                "type": "number"
              },
              {
                "id": "personProfileUpdatedAt",
                "displayName": "personProfileUpdatedAt",
                "type": "string"
              },
              {
                "id": "pendingIncomingMessages",
                "displayName": "pendingIncomingMessages",
                "type": "string"
              },
              {
                "id": "pendingOwnerMessages",
                "displayName": "pendingOwnerMessages",
                "type": "string"
              },
              {
                "id": "pendingUpdatedAt",
                "displayName": "pendingUpdatedAt",
                "type": "string"
              },
              {
                "id": "pendingMessageCount",
                "displayName": "pendingMessageCount",
                "type": "number"
              },
              {
                "id": "pendingBusinessConnectionId",
                "displayName": "pendingBusinessConnectionId",
                "type": "string"
              },
              {
                "id": "pendingReplyToMessageId",
                "displayName": "pendingReplyToMessageId",
                "type": "number"
              },
              {
                "id": "pendingBatchVersion",
                "displayName": "pendingBatchVersion",
                "type": "string"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "2d8e93b5-53fb-43a3-8d9f-b26f55fd3915",
        "name": "Only Owner Updates Yuri Voice",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [7800, 780],
        "parameters": {
          "conditions": {
            "combinator": "and",
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "is-owner-for-voice-learning",
                "leftValue": "={{ $(\"Apply Hybrid Reply Gate\").item.json.isFromOwner }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "af9303a2-1d7a-4e83-b6d0-debounce001",
        "name": "Load Memory For Intake",
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [900, 180],
        "parameters": {
          "resource": "row",
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "mode": "list",
            "value": "TVfAzirdgq5fTvUU",
            "cachedResultName": "telegram_person_memory"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "sessionKey",
                "condition": "eq",
                "keyValue": "={{$json.sessionKey}}"
              }
            ]
          },
          "returnAll": false,
          "limit": 1,
          "alwaysOutputData": true
        },
        "alwaysOutputData": true
      },
      {
        "id": "af9303a2-1d7a-4e83-b6d0-debounce002",
        "name": "Prepare Pending Message Upsert",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [1200, 180],
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const normalize = $(\"Normalize Telegram Update\").item.json;\nconst memory = $(\"Load Memory For Intake\").item.json || {};\nfunction parsePendingMessages(value) {\n  if (!value)\n    return [];\n  try {\n    const parsed = JSON.parse(value);\n    return Array.isArray(parsed) ? parsed : [];\n  } catch (_) {\n    return [];\n  }\n}\nfunction capEvents(events, maxEvents = 20, maxChars = 4000) {\n  const capped = events.slice(-maxEvents);\n  while (JSON.stringify(capped).length > maxChars && capped.length > 1) {\n    capped.shift();\n  }\n  return capped;\n}\nconst incoming = parsePendingMessages(memory.pendingIncomingMessages);\nconst owner = parsePendingMessages(memory.pendingOwnerMessages);\nconst text = String(normalize.userText || \"\").trim();\nconst now = new Date().toISOString();\nconst pendingBatchVersion = `${now}:${normalize.messageId || Math.random().toString(36).slice(2)}`;\nif (text) {\n  const event = {\n    at: now,\n    text,\n    senderName: normalize.senderName || \"\",\n    username: normalize.username || \"\",\n    messageId: normalize.messageId || null\n  };\n  if (normalize.isFromOwner) {\n    owner.push(event);\n  } else {\n    incoming.push(event);\n  }\n}\nconst cappedIncoming = capEvents(incoming);\nconst cappedOwner = capEvents(owner);\nconst pendingIncomingMessages = JSON.stringify(cappedIncoming);\nconst pendingOwnerMessages = JSON.stringify(cappedOwner);\nreturn {\n  json: {\n    sessionKey: normalize.sessionKey,\n    chatId: normalize.chatId,\n    username: normalize.username || memory.username || \"\",\n    senderName: normalize.senderName || memory.senderName || \"\",\n    summary: memory.summary || \"\",\n    lastUserMessage: text || memory.lastUserMessage || \"\",\n    lastAssistantReply: memory.lastAssistantReply || \"\",\n    personProfile: memory.personProfile || \"\",\n    personObservationBuffer: memory.personObservationBuffer || \"\",\n    personObservationsSinceConsolidation: Number(memory.personObservationsSinceConsolidation || 0),\n    personProfileUpdatedAt: memory.personProfileUpdatedAt || \"\",\n    pendingIncomingMessages,\n    pendingOwnerMessages,\n    pendingUpdatedAt: now,\n    pendingMessageCount: cappedIncoming.length + cappedOwner.length,\n    pendingBatchVersion,\n    pendingBusinessConnectionId: normalize.businessConnectionId || memory.pendingBusinessConnectionId || \"\",\n    pendingReplyToMessageId: normalize.messageId || memory.pendingReplyToMessageId || 0,\n    isFromOwner: Boolean(normalize.isFromOwner),\n    ownerMessageAt: normalize.ownerMessageAt\n  }\n};"
        }
      },
      {
        "id": "af9303a2-1d7a-4e83-b6d0-debounce003",
        "name": "Upsert Pending Message",
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [1500, 180],
        "parameters": {
          "resource": "row",
          "operation": "upsert",
          "dataTableId": {
            "__rl": true,
            "mode": "list",
            "value": "TVfAzirdgq5fTvUU",
            "cachedResultName": "telegram_person_memory"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "sessionKey",
                "condition": "eq",
                "keyValue": "={{ $json.sessionKey }}"
              }
            ]
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "sessionKey": "={{ $json.sessionKey }}",
              "chatId": "={{ $json.chatId }}",
              "username": "={{ $json.username || \"\" }}",
              "senderName": "={{ $json.senderName }}",
              "summary": "={{ $json.summary || \"\" }}",
              "lastUserMessage": "={{ $json.lastUserMessage }}",
              "lastAssistantReply": "={{ $json.lastAssistantReply || \"\" }}",
              "personProfile": "={{ $json.personProfile || \"\" }}",
              "personObservationBuffer": "={{ $json.personObservationBuffer || \"\" }}",
              "personObservationsSinceConsolidation": "={{ $json.personObservationsSinceConsolidation || 0 }}",
              "personProfileUpdatedAt": "={{ $json.personProfileUpdatedAt || \"\" }}",
              "pendingIncomingMessages": "={{ $json.pendingIncomingMessages }}",
              "pendingOwnerMessages": "={{ $json.pendingOwnerMessages }}",
              "pendingUpdatedAt": "={{ $json.pendingUpdatedAt }}",
              "pendingMessageCount": "={{ $json.pendingMessageCount }}",
              "pendingBusinessConnectionId": "={{ $json.pendingBusinessConnectionId }}",
              "pendingReplyToMessageId": "={{ $json.pendingReplyToMessageId || 0 }}",
              "pendingBatchVersion": "={{ $json.pendingBatchVersion }}"
            },
            "matchingColumns": ["sessionKey"],
            "schema": [
              {
                "id": "sessionKey",
                "displayName": "sessionKey",
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "chatId",
                "displayName": "chatId",
                "type": "number"
              },
              {
                "id": "username",
                "displayName": "username",
                "type": "string"
              },
              {
                "id": "senderName",
                "displayName": "senderName",
                "type": "string"
              },
              {
                "id": "summary",
                "displayName": "summary",
                "type": "string"
              },
              {
                "id": "lastUserMessage",
                "displayName": "lastUserMessage",
                "type": "string"
              },
              {
                "id": "lastAssistantReply",
                "displayName": "lastAssistantReply",
                "type": "string"
              },
              {
                "id": "personProfile",
                "displayName": "personProfile",
                "type": "string"
              },
              {
                "id": "personObservationBuffer",
                "displayName": "personObservationBuffer",
                "type": "string"
              },
              {
                "id": "personObservationsSinceConsolidation",
                "displayName": "personObservationsSinceConsolidation",
                "type": "number"
              },
              {
                "id": "personProfileUpdatedAt",
                "displayName": "personProfileUpdatedAt",
                "type": "string"
              },
              {
                "id": "pendingIncomingMessages",
                "displayName": "pendingIncomingMessages",
                "type": "string"
              },
              {
                "id": "pendingOwnerMessages",
                "displayName": "pendingOwnerMessages",
                "type": "string"
              },
              {
                "id": "pendingUpdatedAt",
                "displayName": "pendingUpdatedAt",
                "type": "string"
              },
              {
                "id": "pendingMessageCount",
                "displayName": "pendingMessageCount",
                "type": "number"
              },
              {
                "id": "pendingBusinessConnectionId",
                "displayName": "pendingBusinessConnectionId",
                "type": "string"
              },
              {
                "id": "pendingReplyToMessageId",
                "displayName": "pendingReplyToMessageId",
                "type": "number"
              },
              {
                "id": "pendingBatchVersion",
                "displayName": "pendingBatchVersion",
                "type": "string"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "af9303a2-1d7a-4e83-b6d0-debounce004",
        "name": "Pending Message From Owner",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [1800, 80],
        "parameters": {
          "conditions": {
            "combinator": "and",
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "pending-owner",
                "leftValue": "={{ $(\"Prepare Pending Message Upsert\").item.json.isFromOwner }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "af9303a2-1d7a-4e83-b6d0-debounce005",
        "name": "Upsert Last Owner Activity Intake",
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [1800, 80],
        "parameters": {
          "resource": "row",
          "operation": "upsert",
          "dataTableId": {
            "__rl": true,
            "mode": "list",
            "value": "ypokG5tVBhOmGheM",
            "cachedResultName": "telegram_assistant_settings"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "settingKey",
                "condition": "eq",
                "keyValue": "lastOwnerMessageAt"
              }
            ]
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "settingKey": "lastOwnerMessageAt",
              "settingValue": "={{ $(\"Prepare Pending Message Upsert\").item.json.ownerMessageAt }}"
            },
            "matchingColumns": ["settingKey"],
            "schema": [
              {
                "id": "settingKey",
                "displayName": "settingKey",
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "settingValue",
                "displayName": "settingValue",
                "type": "string"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "af9303a2-1d7a-4e83-b6d0-wait005",
        "name": "Build Pending Batch",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [3300, 360],
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const row = $json;\nfunction parsePendingMessages(value) {\n  if (!value)\n    return [];\n  try {\n    const parsed = JSON.parse(value);\n    return Array.isArray(parsed) ? parsed : [];\n  } catch (_) {\n    return [];\n  }\n}\nfunction formatEvents(label, events) {\n  if (!events.length)\n    return \"\";\n  return [label].concat(events.map((event, index) => `${index + 1}. ${event.text}`)).join(`\n`);\n}\nconst incoming = parsePendingMessages(row.pendingIncomingMessages);\nconst owner = parsePendingMessages(row.pendingOwnerMessages);\nconst latestIncoming = incoming.at(-1);\nconst latestOwner = owner.at(-1);\nconst hasIncoming = incoming.length > 0;\nconst userText = [\n  formatEvents(\"Incoming messages:\", incoming),\n  formatEvents(\"Yuri messages during debounce:\", owner)\n].filter(Boolean).join(`\n\n`);\nreturn {\n  json: {\n    updateId: null,\n    updateType: \"debounced_pending_batch\",\n    businessConnectionId: row.pendingBusinessConnectionId || \"\",\n    chatId: Number(row.chatId || 0),\n    fromId: null,\n    ownerUserId: null,\n    isFromOwner: !hasIncoming && owner.length > 0,\n    messageId: Number(row.pendingReplyToMessageId || latestIncoming?.messageId || latestOwner?.messageId || 0),\n    senderName: row.senderName || latestIncoming?.senderName || latestOwner?.senderName || \"Unknown\",\n    username: row.username || latestIncoming?.username || latestOwner?.username || \"\",\n    userText,\n    sessionKey: row.sessionKey,\n    shouldReply: Boolean(hasIncoming && row.pendingBusinessConnectionId && row.chatId && userText.trim()),\n    shouldUpdateMemory: Boolean(userText.trim()),\n    ownerMessageAt: new Date().toISOString(),\n    pendingIncomingCount: incoming.length,\n    pendingOwnerCount: owner.length\n  }\n};"
        }
      },
      {
        "id": "af9303a2-1d7a-4e83-b6d0-wait000",
        "name": "Load Debounce Setting For Wait",
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [1800, 360],
        "parameters": {
          "resource": "row",
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "mode": "list",
            "value": "ypokG5tVBhOmGheM",
            "cachedResultName": "telegram_assistant_settings"
          },
          "returnAll": true,
          "executeOnce": true
        },
        "executeOnce": true
      },
      {
        "id": "af9303a2-1d7a-4e83-b6d0-waitctx",
        "name": "Prepare Wait Debounce Context",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [1800, 360],
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "const pending = $(\"Prepare Pending Message Upsert\").item.json;\nconst settings = Object.fromEntries($items(\"Load Debounce Setting For Wait\").map((item) => item.json ?? {}).filter((row) => row.settingKey).map((row) => [String(row.settingKey), String(row.settingValue ?? \"\")]));\nconst raw = Number(settings.autoReplyDebounceSeconds ?? 15);\nconst debounceSeconds = Number.isFinite(raw) && raw >= 0 ? raw : 15;\nreturn [{ json: { ...pending, settings, debounceSeconds } }];"
        }
      },
      {
        "id": "af9303a2-1d7a-4e83-b6d0-wait001",
        "name": "Wait Debounce Window",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [2100, 360],
        "parameters": {
          "resume": "timeInterval",
          "amount": "={{$json.debounceSeconds}}",
          "unit": "seconds"
        }
      },
      {
        "id": "af9303a2-1d7a-4e83-b6d0-wait002",
        "name": "Reload Pending Row After Wait",
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [2400, 360],
        "parameters": {
          "resource": "row",
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "mode": "list",
            "value": "TVfAzirdgq5fTvUU",
            "cachedResultName": "telegram_person_memory"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "sessionKey",
                "condition": "eq",
                "keyValue": "={{ $(\"Prepare Wait Debounce Context\").item.json.sessionKey }}"
              }
            ]
          },
          "returnAll": false,
          "limit": 1,
          "alwaysOutputData": true
        },
        "alwaysOutputData": true
      },
      {
        "id": "af9303a2-1d7a-4e83-b6d0-wait003",
        "name": "Check Pending Batch Is Latest",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [2700, 360],
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const original = $(\"Prepare Wait Debounce Context\").item.json;\nconst row = $(\"Reload Pending Row After Wait\").item.json || {};\nconst currentVersion = row.pendingBatchVersion || \"\";\nconst originalVersion = original.pendingBatchVersion || \"\";\nconst count = Number(row.pendingMessageCount || 0);\nreturn {\n  json: {\n    ...row,\n    originalPendingBatchVersion: originalVersion,\n    isLatestPendingBatch: Boolean(originalVersion && currentVersion === originalVersion && count > 0)\n  }\n};"
        }
      },
      {
        "id": "af9303a2-1d7a-4e83-b6d0-wait004",
        "name": "Only Latest Pending Batch Continues",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [3000, 360],
        "parameters": {
          "conditions": {
            "combinator": "and",
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "latest-pending-batch",
                "leftValue": "={{$json.isLatestPendingBatch}}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "layout-note-wait-debounce-01",
        "name": "Layout Note 1 - Telegram Intake",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [-90, 20],
        "parameters": {
          "content": "## 1. Telegram intake\nWebhook receives Telegram updates, normalizes them, appends messages to pending batch, and immediately returns OK to Telegram.\n\nNo Claude calls happen here. Owner activity is updated immediately for quiet mode.",
          "width": 2070,
          "height": 300,
          "color": 3
        }
      },
      {
        "id": "layout-note-wait-debounce-02",
        "name": "Layout Note 2 - Trailing Debounce",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [1410, 280],
        "parameters": {
          "content": "## 2. Trailing debounce\nEach message reads autoReplyDebounceSeconds, currently 15 seconds, waits, then reloads this chat row.\n\nOnly the execution whose pendingBatchVersion still matches continues; older executions stop here.",
          "width": 2070,
          "height": 300,
          "color": 4
        }
      },
      {
        "id": "layout-note-wait-debounce-03",
        "name": "Layout Note 3 - Context + Gate",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [3540, 500],
        "parameters": {
          "content": "## 3. Context and hybrid gate\nThe latest batch loads chat memory, settings, Yuri voice profile, and personal context.\n\nThe gate decides auto-reply vs memory-only using autoReplyEnabled and quietAfterOwnerActivityMinutes.",
          "width": 1650,
          "height": 320,
          "color": 5
        }
      },
      {
        "id": "layout-note-wait-debounce-04",
        "name": "Layout Note 4 - Auto Reply Path",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [5340, 180],
        "parameters": {
          "content": "## 4. Auto-reply path\nIf the gate allows a reply, Claude answers the whole debounced incoming batch once.\n\nThen the exchange continues into shared memory/profile update.",
          "width": 960,
          "height": 320,
          "color": 6
        }
      },
      {
        "id": "layout-note-wait-debounce-05",
        "name": "Layout Note 5 - Memory Only Path",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [5340, 860],
        "parameters": {
          "content": "## 5. Memory-only path\nIf auto-reply is disabled, quiet mode is active, or the batch only contains Yuri messages, the workflow updates memory without sending Telegram reply.",
          "width": 980,
          "height": 460,
          "color": 2
        }
      },
      {
        "id": "layout-note-wait-debounce-06",
        "name": "Layout Note 6 - Shared Memory + Person Profile",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [6240, 540],
        "parameters": {
          "content": "## 6. Shared memory and person profile\nAll paths converge here. The workflow updates chat summary, personProfile, observation buffer, and clears pending fields.\n\nAfter 20 person observations, the profile is consolidated before saving.",
          "width": 1420,
          "height": 460,
          "color": 5
        }
      },
      {
        "id": "layout-note-wait-debounce-07",
        "name": "Layout Note 7 - Owner Voice Learning",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [7740, 540],
        "parameters": {
          "content": "## 7. Owner voice learning\nOnly Yuri batches pass this guard into style learning.\n\nThis keeps person-profile learning separate from Yuri voice/style learning.",
          "width": 1500,
          "height": 500,
          "color": 7
        }
      },
      {
        "id": "layout-note-wait-debounce-08",
        "name": "Layout Note 8 - Yuri Voice Consolidation",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [8940, 460],
        "parameters": {
          "content": "## 8. Yuri voice consolidation\nAfter enough style observations accumulate, Claude rewrites Yuri voice profile into a compact canonical version.\n\nThis keeps token cost bounded over time.",
          "width": 900,
          "height": 320,
          "color": 1
        }
      },
      {
        "id": "layout-note-wait-debounce-09",
        "name": "Layout Note 9 - AI Helpers",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [5340, 1200],
        "parameters": {
          "content": "## AI helpers\nShared Claude model and simple per-chat memory used by reply, summarization, and consolidation nodes.",
          "width": 720,
          "height": 250,
          "color": 0
        }
      },
      {
        "id": "af9303a2-1d7a-4e83-b6d0-owner001",
        "name": "Load Owner Identity Settings",
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [300, 180],
        "parameters": {
          "resource": "row",
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "mode": "list",
            "value": "ypokG5tVBhOmGheM",
            "cachedResultName": "telegram_assistant_settings"
          },
          "returnAll": true,
          "executeOnce": true
        },
        "executeOnce": true
      }
    ],
    "connections": {
      "Telegram Chat Automation Webhook": {
        "main": [
          [
            {
              "node": "Load Owner Identity Settings",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalize Telegram Update": {
        "main": [
          [
            {
              "node": "Load Memory For Intake",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Load Long Term Memory": {
        "main": [
          [
            {
              "node": "Load Assistant Settings",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Load Assistant Settings": {
        "main": [
          [
            {
              "node": "Load Yuri Voice Profile",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Load Yuri Voice Profile": {
        "main": [
          [
            {
              "node": "Load Yuri Personal Context",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Apply Hybrid Reply Gate": {
        "main": [
          [
            {
              "node": "Only Auto Reply Allowed",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Only Auto Reply Allowed": {
        "main": [
          [
            {
              "node": "Generate Assistant Reply",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Memory Only Messages",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate Assistant Reply": {
        "main": [
          [
            {
              "node": "Send Telegram Business Reply",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Claude Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Generate Assistant Reply",
              "type": "ai_languageModel",
              "index": 0
            },
            {
              "node": "Summarize Memory After Reply",
              "type": "ai_languageModel",
              "index": 0
            },
            {
              "node": "Summarize Owner Message",
              "type": "ai_languageModel",
              "index": 0
            },
            {
              "node": "Update Yuri Voice Profile",
              "type": "ai_languageModel",
              "index": 0
            },
            {
              "node": "Summarize Incoming Without Reply",
              "type": "ai_languageModel",
              "index": 0
            },
            {
              "node": "Consolidate Yuri Voice Profile",
              "type": "ai_languageModel",
              "index": 0
            },
            {
              "node": "Consolidate Person Profile",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Per Chat Simple Memory": {
        "ai_memory": [
          [
            {
              "node": "Generate Assistant Reply",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Send Telegram Business Reply": {
        "main": [
          [
            {
              "node": "Summarize Memory After Reply",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Summarize Memory After Reply": {
        "main": [
          [
            {
              "node": "Prepare Memory Upsert",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Memory Only Messages": {
        "main": [
          [
            {
              "node": "Owner Message Updates Memory Only",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Owner Message Updates Memory Only": {
        "main": [
          [
            {
              "node": "Summarize Owner Message",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Summarize Incoming Without Reply",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Summarize Owner Message": {
        "main": [
          [
            {
              "node": "Prepare Memory Upsert",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update Yuri Voice Profile": {
        "main": [
          [
            {
              "node": "Prepare Yuri Voice Profile Upsert",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Yuri Voice Profile Upsert": {
        "main": [
          [
            {
              "node": "Should Consolidate Yuri Voice Profile",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Summarize Incoming Without Reply": {
        "main": [
          [
            {
              "node": "Prepare Memory Upsert",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Load Yuri Personal Context": {
        "main": [
          [
            {
              "node": "Apply Hybrid Reply Gate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Should Consolidate Yuri Voice Profile": {
        "main": [
          [
            {
              "node": "Consolidate Yuri Voice Profile",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Upsert Yuri Voice Profile",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Consolidate Yuri Voice Profile": {
        "main": [
          [
            {
              "node": "Prepare Consolidated Yuri Voice Profile",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Consolidated Yuri Voice Profile": {
        "main": [
          [
            {
              "node": "Upsert Consolidated Yuri Voice Profile",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Memory Upsert": {
        "main": [
          [
            {
              "node": "Should Consolidate Person Profile",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Should Consolidate Person Profile": {
        "main": [
          [
            {
              "node": "Consolidate Person Profile",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Upsert Memory",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Consolidate Person Profile": {
        "main": [
          [
            {
              "node": "Prepare Consolidated Person Profile",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Consolidated Person Profile": {
        "main": [
          [
            {
              "node": "Upsert Memory",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upsert Memory": {
        "main": [
          [
            {
              "node": "Only Owner Updates Yuri Voice",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Only Owner Updates Yuri Voice": {
        "main": [
          [
            {
              "node": "Update Yuri Voice Profile",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "Load Memory For Intake": {
        "main": [
          [
            {
              "node": "Prepare Pending Message Upsert",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Pending Message Upsert": {
        "main": [
          [
            {
              "node": "Upsert Pending Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upsert Pending Message": {
        "main": [
          [
            {
              "node": "Pending Message From Owner",
              "type": "main",
              "index": 0
            },
            {
              "node": "Load Debounce Setting For Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Pending Message From Owner": {
        "main": [
          [
            {
              "node": "Upsert Last Owner Activity Intake",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "Build Pending Batch": {
        "main": [
          [
            {
              "node": "Load Long Term Memory",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Load Debounce Setting For Wait": {
        "main": [
          [
            {
              "node": "Prepare Wait Debounce Context",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Wait Debounce Context": {
        "main": [
          [
            {
              "node": "Wait Debounce Window",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait Debounce Window": {
        "main": [
          [
            {
              "node": "Reload Pending Row After Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Reload Pending Row After Wait": {
        "main": [
          [
            {
              "node": "Check Pending Batch Is Latest",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Pending Batch Is Latest": {
        "main": [
          [
            {
              "node": "Only Latest Pending Batch Continues",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Only Latest Pending Batch Continues": {
        "main": [
          [
            {
              "node": "Build Pending Batch",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "Load Owner Identity Settings": {
        "main": [
          [
            {
              "node": "Normalize Telegram Update",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "availableInMCP": true,
      "binaryMode": "separate"
    },
    "staticData": {
      "node:Process Pending Messages Schedule": {
        "recurrenceRules": []
      }
    },
    "meta": {
      "aiBuilderAssisted": true,
      "builderVariant": "mcp"
    },
    "pinData": {},
    "versionId": "d5e78ff7-f825-4f03-8cb8-6053eb5a2d0f",
    "activeVersionId": "d5e78ff7-f825-4f03-8cb8-6053eb5a2d0f",
    "versionCounter": 63,
    "triggerCount": 1,
    "tags": [],
    "versionMetadata": {
      "name": null,
      "description": null
    }
  }
]
